# Обязательно используй root=true для идентификации файла как корневого файла EditorConfig.
root = true

# Общие настройки для всех файлов
[*]
# Задает символ конца строки как LF (Unix-стиль)
end_of_line = lf
# Использование пробелов для отступов
indent_style = space
# Размер табуляции - 4 пробела
indent_size = 4
# Окончание файла пустой строкой
insert_final_newline = true

# Дополнительные настройки для файлов с определенными расширениями
[*.{js,jsx,ts,tsx,css,scss,html,json,yml,md}]
indent_size = 2
